:root {
    --elmgreen: #1a936f;
    --tradewind: #4eb1a6;
    --aquaisland: #a7dadc;
    --cornfield: #f9f7c3;
    --coral: #f98348;

}

.navbar {
    background-color: var(--aquaisland);
    position: absolute;
}

.nav-link:focus {
    color: var(--elmgreen) !important;
}

.footer {
    background-color: var(--elmgreen);
    width: 100%;
    /* height: 15vh; */
    position: absolute;
    /* bottom: 0; */
}

.searchBtn,
.bookBtn {
    background-color: var(--elmgreen);
    color: white;
}

.page-heading {
    margin-top: 10rem;
    margin-left: 1rem;
    position: relative;
    color: var(--elmgreen);
}

.subheading {
    color: var(--tradewind);
}

/*********** browse classes cards  ****************/

.card-footer {
    background-color: white;
    border-top: none;
}

.card {
    box-shadow: var(--tradewind) 7px 7px, var(--elmgreen) 14px 14px !important;

}

.timetable {
    width: 100%;
}

.contact-icon,
.footer {
    color: white;
}

a {
    color: white;
}